/* :root {
  --primary-color: #ec1f55;
  --text-color: #333;
  --background-color: #fff;
  --control-color: rgb(97, 97, 97);
  --boxshadow-color: 0 2px 3px rgb(0 0 0 / 10%) ;
} */

:root {
  --primary-color: #7b8f95;
    --text-color: #576668;
    --textActive-color: #16191a;
    --background-color: #b5d2db;
    --control-color: rgb(96 96 96);
    --boxshadow-color: 0 2px 3px rgb(74 66 66 / 29%);
}
/* dark theme */
/* [data-theme="dark"] {
  --text-color: #fff;
  --background-color: #000;
  --control-color: #fff;
  --boxshadow-color: 0 2px 3px rgb(247 247 247 / 29%);
} */
[data-theme="dark"] {
  --text-color: #fff;
    --background-color: #2c4248;
    --control-color: #fff;
    --boxshadow-color: 0 2px 3px rgb(247 247 247 / 29%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  background-color: var(--background-color);
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: var(--background-color);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* DARK MODE */
.theme-switch-wrapper {
  display: flex;
   align-items: center;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 10000;
}
.theme-switch {
   display: inline-block;
   height: 19px;
   position: relative;
   width: 30px;
}
.theme-switch input {
   display:none;
}
.slider {
  background-color: #999;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: white;
  content: "";
  height: 15px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 15px;
}
input:checked + .slider {
  background-color: #eee;
}
input:checked + .slider:before {
  
  background-color:rgba(51, 51, 51, 0.979);
  transform: translateX(11px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
  margin-top: 2px;
}
/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: var(--control-color);
  padding: 18px;
  font-size: 18px;
}

.control .btn .fa-redo , 
.fa-step-backward ,
.fa-step-forward ,
.fa-random{
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
  box-shadow: var(--boxshadow-color);
}

.control .btn i:hover{
  cursor: pointer;
}

.control .btn i.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: var(--boxshadow-color);
  /* background-color: var(--primary-color); */
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 393px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: var(--background-color);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: var(--boxshadow-color);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: var(--textActive-color);
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}
.song:hover{
  cursor: pointer;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
